@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

%containerTemplate {
  display: flex;
  justify-content: center;
}

%widthTemplate {
  display: flex;
  width: 1360px;
}

.mainContainer {
  @extend %containerTemplate;

  & .mainWrapper {
    @extend %widthTemplate;
    margin: 24px 24px;
    justify-content: space-between;
  }
}

.navContainer {
  @extend %containerTemplate;
  background-color: var(--light-green-color);
  color: var(--light-white-color);

  & .navContainer__ownRightSection {
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: var(--dark-green-color);
    padding: 10px 20px;
  }
  & .navContainer__ownLeftSection {
    display: flex;
    gap: 30px;
    align-items: center;

    & .ownLeftSection__wspaceTitle {
      display: flex;
      gap: 10px;
      cursor: pointer;
    }
  }

  & .navContainer__list {
    @extend %widthTemplate;
    justify-content: space-between;
    align-items: center;

    & .leftListItem {
      cursor: pointer;
      font-family: 'Changa One', cursive;
      text-transform: uppercase;
      font-size: 40px;
      margin: 0 35px;
    }
    & .rightListItem {
      cursor: pointer;
      font-size: 24px;
      background-color: var(--dark-green-color);
      padding: 30px 40px;
    }
  }
}

.userAvatar {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
